@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background: #212121;
}

.main {
    padding: 0 20px;
}

/* header */

.header {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1260px;
    border-bottom: 1px solid #85858547;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
    max-width: 100%;
    height: 60px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
    font-size: 0.875em;
    font-weight: 600;
    color: #858585;
    cursor: pointer;

    display: flex;
    align-items: center;
}


.menu ul li:hover {
    color: #F2F2F2;
}

.menu ul li > img {
    margin-left: 10px;
}

.header-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-search  img {
    cursor: pointer;
}

.header-search input {
    margin-left: 10px;
    color: #F2F2F2;
    border: none;
    background: transparent;
    outline: none;
    display: none; /* mostrar input com js */
}

/* intro */

.intro {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro > figure {
    margin-top: 32px;
}

.intro figure img {
    width: 100%;
    max-width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 1.125em;
    line-height: 1.2;
    font-weight: 700;
    color: #858585;
}

.subtitle {
    margin-top: 32px;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.2;
    font-weight: 500;
    color: #F2F2F2;
}

.intro-left h2 > span {
    color: #FECC53;
    display: flex;
    align-items: center;
}

.intro-left h2  span > img{
    width: 80px;
    height: 80px;
}

.intro-right {
    width: 100%;
    max-width: 380px;
    font-size: 1.125em;
    line-height: 1.5; 
    align-self: flex-end;
}

.intro-right p {
    color: #F2F2F2;
}

.intro-right p > span {
    color: #FECC53;
}

.intro-actions {
    margin-top: 32px;
    width: 100%;
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.action-left,
.action-right {
    padding: 16px;
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 500;
    color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #858585;
    border-radius: 12px;
}

.action-left .arrow-action figure,
.action-right .arrow-action figure {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
}

.action-left .arrow-action figure:hover,
.action-right .arrow-action figure:hover {
    animation: toRight .4s forwards;
}

.action-left {
    flex: 2;
}

.action-right {
    margin-left: 100px;
    flex: 1;
}

.arrow-action {
    cursor: pointer;
}

@keyframes toRight {
    from {
        transform: translateX(-30px)
    }

    to {
        transform: translateX(0);
    }
}

/* accessibility */

.accessibility {
    margin: 128px auto 0 auto;
    width: 100%;
    max-width: 1260px;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.accessibility-left h2 {
    position: relative
}

.accessibility-left figure img {
    height: 532px;
}


.accessibility-left h2 > img {
    position: absolute;
    bottom: 30px;
    right: -6px;
    width: 26px;
    height: 26px;
}

.accessibility-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.accessibility-center p {
    text-align: end;
    max-width: 240px;
    color: #F2F2F2;
}

.link{
    color: #FECC53;
    font-size: 1.5em;
    text-decoration: underline;
    text-transform: uppercase;
}


.accessibility-center a {
    margin-top: 128px;
}


/* accessibility-hidden */

.accessibility-hidden {
    justify-content: flex-start;
    display: none;
}

.accessibility-hidden figure > img {
    max-width: 100%;
}

.accessibility-hidden-content {
    margin-left: 64px;
}

.accessibility-hidden-content p  {
    margin-top: 32px;
    max-width: 240px;
    color: #F2F2F2;
}
.accessibility-hidden-content a {
    display: block;
    margin-top: 64px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 32px;
}

.slide1,
.slide2 {
    margin: 0 5px 0;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
}

/* javascript */

.js-slide.active {
    padding: 0 20px;
    display: flex;
    animation: content-show .8s forwards;
    position: absolute;
    background-color: #212121;
}

.js-buttons.active {
    background-color: #F2F2F2;
}

@keyframes content-show {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}